<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--引入applicationContext-dao配置文件-->
    <!--<import resource="classpath:applicationContext-dao.xml"></import>-->

    <!--扫描包，创建service层的对象-->
    <context:component-scan base-package="com.itheima.service"></context:component-scan>

    <!--该事务管理器可以管理mybatis和spring的事务-->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <!--通知增强-->
    <tx:advice id="advice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="find*" read-only="true"/>
            <tx:method name="get*" read-only="true"/>
            <!--其他的都需要开启事务-->
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>

    <!--aop的配置-->
    <aop:config>
        <aop:advisor advice-ref="advice" pointcut="execution(* com.itheima.com.itheima.service.impl.*.*(..))"></aop:advisor>
    </aop:config>
</beans>